i.logo{
    color: aquamarine;
}
.xyz{
    color: red;
    /* display: none; */
    margin-top: 5px;
}

@media (max-width:1200px) {
    .xyz{
        display: block;
        background-color: red;
    }
    .abc{
        display: none;
    }
}